<h1>Hello</h1>

<%= form_for @payload do |f| %>
  <%= f.select :app_id, App.all.collect{ |u| [u.name, u.id] }, prompt: 'Select'%>
  <%= f.select :request_method_id, RequestMethod.all.collect{ |u| [u.name, u.id] }, prompt: 'Select'%>
  <%= f.select :request_environment_id, RequestEnvironment.all.collect{ |u| [u.name, u.id] }, prompt: 'Select'%>

  <br>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <br>

  <%= f.label :description %>
  <%= f.text_field :description %>

  <br>

  <%= f.label :request_url %>
  <%= f.text_field :request_url %>

  <br>

  <%= fields_for :request_headers do |builder| %>
  <% end %>

  <br>
  <%= link_to_add_fields "Add Header", f, :request_headers %>

  <br>

  <%= f.submit %>
<% end %>
